<div class="main">
  <div class="images-container">
    <img
      src="/assets/images/image-product-1.jpg"
      alt="image-product-1"
      width="350px"
      height="350px"
    />

    <div class="small-images">
      <img
        src="assets/images/image-product-1-thumbnail.jpg"
        alt="image-product-1-thumbnail"
        width="75px"
        height="75px"
      />

      <img
        src="assets/images/image-product-2-thumbnail.jpg"
        alt="image-product-2-thumbnail"
        width="75px"
        height="75px"
      />

      <img
        src="assets/images/image-product-3-thumbnail.jpg"
        alt="image-product-3-thumbnail"
        width="75px"
        height="75px"
      />

      <img
        src="assets/images/image-product-4-thumbnail.jpg"
        alt="image-product-4-thumbnail"
        width="75px"
        height="75px"
      />
    </div>
  </div>

  <div class="description">
    <p>SNEAKER COMPANY</p>
    <h1>Fall Limited Edition Sneakers</h1>
    <p>
      These low-profile sneaker are your perfect casual wear companion.
      Featuring a durable rubber outer sole, they'll withsantd everything the
      weather can offer
    </p>

    <h3>$125.00 <span class="discount">50%</span></h3>
    <p>250.00</p>

    <span class="increase-buttons">
      <svg (click)="onMinusButton()"
        width="12"
        height="4"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <path
            d="M11.357 3.332A.641.641 0 0 0 12 2.69V.643A.641.641 0 0 0 11.357 0H.643A.641.641 0 0 0 0 .643v2.046c0 .357.287.643.643.643h10.714Z"
            id="a"
          />
        </defs>
        <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#a" />
      </svg>
      <span>{{numberOfItems}}</span>
      <svg (click)="onPlusButton()"
        width="12"
        height="12"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <defs>
          <path
            d="M12 7.023V4.977a.641.641 0 0 0-.643-.643h-3.69V.643A.641.641 0 0 0 7.022 0H4.977a.641.641 0 0 0-.643.643v3.69H.643A.641.641 0 0 0 0 4.978v2.046c0 .356.287.643.643.643h3.69v3.691c0 .356.288.643.644.643h2.046a.641.641 0 0 0 .643-.643v-3.69h3.691A.641.641 0 0 0 12 7.022Z"
            id="b"
          />
        </defs>
        <use fill="#FF7E1B" fill-rule="nonzero" xlink:href="#b" />
      </svg>
    </span>

    <button>Add to cart</button>
  </div>
</div>
