*{
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px 50px 50px 0px;
  gap: 50px;
}

.images-container {


}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40vw;
  min-width: 300px;
  gap: 20px;

}

.small-images {
  padding: 20px 0 0 0;
  display: flex;
  gap: 15px;
}

.discount {
  background-color: orange;
  border-radius: 20%;
  font-size: 14px;
  color: white;
  padding: 3px;
}

.increase-buttons {
  display: flex;
  width: 100px;
  max-width: 150px;
  padding: 10px;
  background-color: rgb(225, 225, 225);
  justify-content: space-around;
  align-items: center;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 70%);
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  &.show {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-image > svg {
  display: inline;
  
}

img{
  cursor: pointer;
}

.button-cart-container{
  display: flex;
  justify-content: space-between;
}
