.main {
  display: flex;
  padding: 30px 50px 50px 0px;
}

.images-container {
  padding: 50px;
  margin-left: 150px;
}

.description {
  padding: 50px;
  margin-top: 30px;
  margin-right: 100px;
}

.small-images {
  padding: 20px 0 0 0;
  display: flex;
  gap: 15px;
}

.discount {
  background-color: orange;
  border-radius: 20%;
  font-size: 14px;
  color: white;
  padding: 3px;
}

.increase-buttons {
  width: 250px;
  padding: 10px;
  background-color: lightgray;
}
