* {
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
}

.nav-links-container {
  display: flex;

  margin: 0;
  list-style-type: none;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin: 0px 10px 0px 10px;
}

.cart-logo {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
